<app-header></app-header>

<div class="wrapper">
  <section class="hero">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5">The Coolest Service Providing Company in Copenhagen!!</h1>
            <h2 class="lead">Where you choose to work has impact on your productivity and creativity. It also says a lot about your business. We are the right office space.</h2>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-about" class="sec-about pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-10 col-lg-8">
          <h1 class="h4">Our Services</h1>
          <hr>
          <p class="mt-4 mb-4">Co-working spaces are brilliant for smaller companies of up to 4 people who want a regular workspace. Cost effective, flexible and full of a vibrant energy that comes from hundreds of like-minded people going it alone.</p>
        </div>
      </div>

     

  <section id="sec-features" class="sec-features pt-5 pb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="h4">Køkken</h3>
          <hr>
          <p> Our staff knows how to get the job done, and we often exceed the expectations of our clients. 
          We offer a range of services that we believe will fully meet your needs, and no office is too big 
          or small for our skilled and experienced staff.</p>
        </div>
        <div class="col-md-6 text-center">
          <img src="/assets/Images/restaurant.png" class="card-img-top" alt="..." >
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img src="/assets/Images/cleaning.png" class="card-img-top" alt="..." >
        </div>

        <div class="col-md-6">
          <h3 class="h4">Rengøring</h3>
          <hr>

          <p>It requires you to identify the prospective client’s daily challenges and needs, the reason they’ve decided to hire a new contractor, and how your company can fill that gap.</p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="h4">Food Truck</h3>

          <hr>

          <p>we have strong relationships with the area’s best vendors for any additional needs. 
          Your dedicated event planner will work with you to design the best possible event which will reflect your own personal tastes and preferences. 
          We are confident we can deliver all of these services while staying within your desired catering budget.</p>
        </div>

        <div class="col-md-6 text-center">
          <img src="/assets/Images/food-truck.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </section>

<div class="shadow p-3 mb-5 bg-white rounded">
 <section id="sec-pricing" class="sec-pricing">
    <div class="container">
      <h1 class="h4 mb-5 text-center">Great prices for everyone</h1>
      <hr>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title h5">Rengøring</h4>

              <h5 class="card-title h6">100 kr /month</h5>

              <p class="card-text">The flexible place to grow your projects in a community of start-ups, freelancers and entrepreneurs, flex desk.</p>

              <a href="#" class="btn btn-primary">Find out more</a><br><br>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title h5">Køkken</h4>

              <h5 class="card-title h6">320 kr /month</h5>

              <p class="card-text">Your own personal area in an open space: desk, drawers, locker and bookcase to accessorise however you like.</p>

              <a href="#" class="btn btn-primary">Find out more</a><br><br>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block justify-content-center">
              <h4 class="card-title h5">Food Truck</h4>

              <h5 class="card-title h6">640 kr /month</h5>

              <p class="card-text">Your own private space, perfect for work teams of up to 50 people, inside a structure that’s always in motion</p>

              <a href="#" class="btn btn-primary">Find out more</a><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
 
<br><br>
  <section id="sec-testimonials" class="sec-testimonials">
    <div class="container">
      <h1 class="h4 mb-5 text-center">Words from our members</h1>
      
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>The vibe here is bright and very optimistic. Clients love to visit us here and every day we make new friends and contacts with other start-ups. Being a a member is our secret super power.</small>

                  <footer class="blockquote-footer mt-2">Mr. Rai, CTO</footer>
                </blockquote>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>I've been a memeber for over 3 years. We have always been welcomed by friendly faces and helpful staff. This co-working space has everything we need from Wi-Fi to fresh and delicious coffee.</small>
              
                  <footer class="blockquote-footer mt-2">Mr. Chhettri,  CEO</footer>
                </blockquote>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>I joined since its opening and I couldn't have found a better working space. Being a member is so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like me!</small>
              
                  <footer class="blockquote-footer mt-2">Mr. Giri, Manager</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="fa fa-angle-left fa-2x"></span>
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="fa fa-angle-right fa-2x"></span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  <section id="sec-contact" class="sec-contact pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1 class="h4">Have a question? Get in touch with us!</h1>
          
          <form action="" method="">
            <fieldset class="form-group">
              <label for="formName">Your Name:</label>
              <input id="formName" class="form-control" type="text" placeholder="Your Name" required>
            </fieldset>
              
            <fieldset class="form-group">
              <label for="formEmail1">Email address:</label>
              <input id="formEmail1" class="form-control" type="email" placeholder="Enter email" required>
            </fieldset>
            
            <fieldset class="form-group">
              <label for="formMessage">Your Message:</label>
              <textarea id="formMessage" class="form-control" rows="3" placeholder="Your message" required></textarea>
            </fieldset>
            
            <fieldset class="form-group text-center">
              <button class="btn btn-primary" type="submit">Send Message</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <app-footer></app-footer>
</footer>

